
<footer id="footer">
  <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4 footer--info" >
            <h1>Hiddo</h1>
            <p class="fotfirst"><i class="fa fa-phone"></i> Phone (Spain) : +34 XXX XX XX</p>
            <p><i class="fa fa-envelope"></i> E-mail : <a class="fotlink" href="mailto:hiddo.contact@gmail.com">hiddo.contact@gmail.com</a></p> 

            <div style="margin-top:40px;">
              <ul class="footer-social">
                <li><a href=""<i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></a></i></li>
                <li><a href=""><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></a></i></li>
                <li><a href=""<i class="fa fa-twitter social-icon twitter" aria-hidden="true"></a></i></li>
                <li><a href=""<i class="fa fa-google-plus social-icon google" aria-hidden="true"></a></i></li>
            </ul>
            </div>
            
          </div>


          <div class="col-12 col-sm-12 col-md-4 footer--info" >
            <h1>Info </h1>

            <p class="fotfirst">Humble creator</p>
            <ul>
              <li><a class="fotlink" href="https://linkedin.com/in/manuel-amaro-valle"> Linkedin</a></li>
              <li><a class="fotlink" href="https://github.com/Vallerem">Github</a></li>
              <li><a class="fotlink" href="https://angel.co/manuel-amaro-valle-redondo">AngelList</a> </li>
            </ul>

            <p>made with love with</p>
            <ul>
              <li><a class="fotlink" href="https://nodejs.org/"> Node.js</a></li>
              <li><a class="fotlink" href="http://expressjs.com/">Express.js</a></li>
              <li><a class="fotlink" href="https://www.mongodb.com/">MongoDB</a></li>
              <small>and much more...</small>
            </ul>
          </div>



          <div class="col-12 col-sm-12 col-md-4 footer--info">
             <p style="margin-top:75px;margin-bottom:-40px;"><i class="fa fa-map-pin"></i> C/ de la piruleta 228 Barcelona</p>
            <div id="footer--map" style="width:90%;height:200px;margin-top:70px;margin-bottom:70px"></div>
          </div>
          
     </div>

       </footer>
    <div class="copyright">
      &copy; 2017 - Hiddo. All rights reserved
    </div>
 </div>









<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFjuxIGKn2gKOZpceECIKqTln8jSp1fLI&libraries=places&callback=initAutocomplete"></script>

 <script>   
    var footerMap;
    function initMap() {
        footerMap = new google.maps.Map(document.getElementById('footer--map'), {
          center: {lat: 41.387314, lng: 2.134211 },
          zoom: 11, 
          mapTypeId: 'roadmap'
        });

      var spotMarker = new google.maps.Marker({
        position: {lat: 41.387314, lng: 2.134211 },
        map: footerMap,
    }); 
    var iw = new google.maps.InfoWindow({
    content: "<div style='color:black'><strong>Hiddo HQ</strong></div>",
  });
    google.maps.event.addListener(spotMarker, "click", function(e) {
    iw.open(footerMap, this);
  });
  }

initMap();
 </script>