
 
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navControl" aria-controls="navControl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>    
            <a class="navbar-brand logo-hiddo" href="/">Hiddo</a>
        <div class="collapse navbar-collapse navbar-comntent" id="navControl">
            <ul class="navbar-nav ml-auto">
                <% if (isUserLoggedIn){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-last-item" href="/contact">Contact</a>
                    </li>
                        <div class="user-dropdown dropdown">
                                <button class="dropdown-toggle user-menu" type="button" id="menu1" data-toggle="dropdown">
                                    <img class="img-fluid rounded-circle user-nav-img" src="<%=currentUser.imgUrl%>" alt="user avatar">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li><p>Hi,<%=currentUser.username%> </p></li>
                                    <li><a href="/profile">Your profile</a></li>
                                    <li><a href="/new-spot">New Spot</a></li>
                                    <li><a href="/fav-spots">Loved locaions</a></li>
                                    <li><form action="/logout" method="post">
                                    <button type="submit" class="btn-link">Log out</a>
                                    </form></li>
                                    <li class="divider"></li>
                                </ul>
                        </div>
                    </li>
                <%} else {%>
                        <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                 <%}%>
            </ul>
        </div>
    </nav>
