<div class="container">
	<div class="row">
	  <form action="/login" method="post" class="form-signin mg-btm">
    	<h3 class="heading-desc">
		  Login to Hiddo
		</h3>
<!-- 	<div class="social-box">   //// Not yet implemented login with facebook
		<div class="submm">
			<a href="#" class="btn btn-primary btn-block">
        	    <i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook
            </a>
	   </div>  
	</div>  -->
	<div class="main">	     
		<input name="username" type="text" class="form-control" placeholder="User name" autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password">
		 <div class="submm">
			<button type="submit" class="btn-login btn btn-large btn-success">Login</button>
           </div>
       </form>

	<div class=""> 
       <p> Don't Have an Account? <a href="/signup"> Sign up now</a></p>
	</div>
</div>


