

<form action="/signup" method="POST" class="signup_form" id="signup_form" enctype="multipart/form-data">
    <div class="form-group">
    <label for="Username"><strong>User name</strong></label>
    <input type="text" name="username" class="form-control" id="username"  required>
  </div>
  <div class="form-group">
    <label for="Mail"><strong>Email address</strong></label>
    <input type="email" name="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="example@example.com" required>
  </div>
  <div class="form-group">
    <label for="Password"><strong>Password</strong></label>
    <input name="password"  type="password" class="form-control" id="password"  required>
 </div>
 <div class="form-group">
    <label for="Description"><strong>Description</strong> (optional)</label>
    <textarea name="description" class="form-control" id="exampleTextarea" rows="4" placeholder="Tell us a bit about yourself!"></textarea>
  </div>

<div class="country_form">
  <label class="mr-sm-2" for="inlineFormCustomSelect"><strong>Select your Country</strong></label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="country" name="countrySelected">
    <% countries.forEach( (country) => { %>
    <option name="country" value="<%=country %>"><%=country %></option>
    <%}); %>
  </select>
  </div>

<h5>Location interests<small> (Select at least 1)</small> </h5>

  <div class="form-check row">
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="nature" id="nature" value="Nature">Nature</label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="night" id="night" value="Night">Night</label>
     <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="romantic" id="romantic" value="Romantic">Romantic</label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="beach" id="beach" value="Beach">Beach</label>
    </div>

<div class="form-check row">
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="gastronomy" id="gastronomy" value="Gastronomy">Gastronomy </label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="historic" id="historic" value="Historic">Historic </label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="abandoned" id="abandoned" value="Abandoned">Abandoned </label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="peacefull" id="peacefull" value="Peacefull">Peacefull </label>
     </div>


<div class="form-check row">
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="mysterious" id="mysterious" value="Mysterious">Mysterious </label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="folklore" id="folklore" value="Folklore">Folklore </label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="landscape" id="landscape" value="Landscape">Landscape </label>
    <label class="form-check-label col-sm-12 col-md-2">  
    <input type="checkbox" class="form-check-input" name="urban" id="urban" value="Urban">Urban </label>
    </div>

<div class="form-group avatar_img">
    <label for="Avatar"><strong>Avatar image</strong></label>
    <input name ="imgUrl" type="file" class="form-control-file col-sm-12" id="avatar" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Select and image to use as your avatar (only: jpg/jpeg/png/gif)</small>
  </div>


    <button class="signup-submit but btn-primary btn-lg" type="submit">Submit</button>
</form>
