
<divclass="row">
<div class="col-12">

  <h1 style="margin-top: 20px;">Hi, there :)</h1>

  <p>Thank you for using this Alpha version of Hiddo. Hope you can forgive a little ugliness and enjoy the web application. Please feel free to use the <a href="/contact">contact form</a> for any doubts or improvements (there are quite a lot of those I know :P) you may think of. Any feedback is well recieved. </p>

  <p><strong>By this time (12/09/2017)</strong></p>

  <ul style="list-style-type: circle;">
    <li>the "Follow feature" may not be working</li>
    <li>the "Explore" route wich will contain a form to search and filter that search it's still not implemented yet. Please, use the search bar instead (you'll need to register first). You can search by the location name or country</li>
    <li>You may encounter some bugs on mobile/tablet but overall everything should look normal</li>
  </ul>
</div>

</div>
