
<divclass="row">
<div class="col-12">

  <h1 style="margin-top: 20px;">Hi, there :)</h1>

  <p><strong> Hiddo is a social network for sharing hidden or special places around the world.</strong></p>

  <p>Thank you for using this Alpha version of Hiddo. Hope you can forgive a little ugliness and enjoy the web application. Please feel free to use the <a href="/contact">contact form</a> for any doubts or improvements (there are quite a lot of those I know :P) you may think of. Any feedback is well recieved. </p>

  <p><strong>By this time (22/09/2017)</strong></p>

  <ul style="list-style-type: circle;">
    <li>The explore section shows you all the spots created</li>
    <li>the "Follow feature" may not be working</li>
    <li>The search bar (you'll need to register first to see it) lets you search by the location name or country</li>
    <li>If you click on the category in some spot you'll search for all the spots that share the same category.</li>
    <li>You may encounter some bugs on mobile/tablet but overall everything should look normal</li>
  </ul>
</div>


</div>
