


<% if (isUserLoggedIn){%>

<h2>Hello, <%=currentUser.username%></h2>
<img src="<%=currentUser.imgUrl%>" alt="user avatar">
<ul>
  

<% currentUser.userInfo.interests.forEach((int)=>{ %>

<li><%= int%></li>

<%});%>
</ul>


<%} else {%>

<h1>Not loggggged</h1>

<img class="img-fluid rounded-circle" src="/images/default.png" alt="image ">


<%}%> 

