/***********/
/*****    Variables    ******/
/***********/
/***********/
/*****    Mixins    ******/
/***********/
/*****    INITIAL    ******/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,300");
.hidden {
  display: none;
}

[placeholder]::-webkit-input-placeholder {
  color: #A0A3A4;
  font-size: 12px;
}

[placeholder]:-moz-placeholder {
  color: #A0A3A4;
  font-size: 12px;
}

[placeholder]::-moz-placeholder {
  color: #A0A3A4;
  font-size: 12px;
}

[placeholder]:-ms-input-placeholder {
  color: #A0A3A4;
  font-size: 12px;
}

/*****     NAVBAR    ******/
.dropdown-user {
  background: #292B2C;
  text-align: left;
  width: 210px;
  position: absolute;
  left: -144px;
}

@media (max-width: 750px) {
  .dropdown-user {
    margin-left: 90px;
    margin-bottom: -50px;
  }
  .dropdown-user li {
    border-top: 1px solid grey;
    width: 240px;
  }
}

@media (max-width: 450px) {
  .dropdown-user {
    width: 190px;
    margin-left: 90px;
    margin-bottom: -50px;
  }
  .dropdown-user li {
    border-top: 1px solid grey;
    width: 160px;
  }
}

.dropdown-user li {
  padding: 4px 20px 4px 10px;
}

.dropdown-user li a, .dropdown-user li button {
  color: white;
}

.dropdown-user li a i.nav-icon, .dropdown-user li button i.nav-icon {
  padding-left: 7px;
  font-size: 23px;
}

.dropdown-user li a:hover, .dropdown-user li button:hover {
  color: #C7E7BE;
  text-decoration: none;
}

@media (min-width: 600px) {
  .logo-hiddo {
    padding-left: 30px;
  }
}

@media (min-width: 600px) {
  .navbar-comntent {
    margin-right: 30px;
  }
}

.nav-item {
  margin-right: 5px;
}

.user-menu {
  cursor: pointer;
  color: white;
  background: #292B2C;
  border: none;
}

@media (max-width: 750px) {
  .user-menu {
    float: left;
    position: relative;
    top: 40px;
  }
}

@media (max-width: 750px) {
  .about-item {
    margin-top: 50px;
  }
}

.btn-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.user-nav-img {
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

@media (max-width: 750px) {
  .user-nav-img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 750px) {
  .navbar-brand {
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .nav-item-dest {
    border-top: 1px solid #FF6F42;
  }
}

/*****    HOME     ******/
/*****    ALERTS      ******/
/*****    FOOTER     ******/
footer {
  background-color: #0c1a1e;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
}

.footer-col {
  margin-top: 50px;
}

.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.footer-col p {
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

.footer-col p i {
  width: 20px;
  color: #999;
}

.footer-ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 2px;
}

.footer-ul li {
  line-height: 29px;
  font-size: 12px;
}

.footer-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
  margin-right: 10px;
}

.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #ff670f;
}

.copyright {
  min-height: 40px;
  background-color: #000000;
}

.copyright p {
  text-align: left;
  color: #FFF;
  padding: 10px 0;
  margin-bottom: 0;
}

.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

.post p {
  font-size: 12px;
  color: #FFF;
  line-height: 20px;
}

.post p span {
  display: block;
  color: #8f8f8f;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0;
}

.bottom_ul li {
  float: left;
  line-height: 40px;
}

.bottom_ul li:after {
  content: "/";
  color: #FFF;
  margin-right: 8px;
  margin-left: 8px;
}

.bottom_ul li a {
  color: #FFF;
  font-size: 12px;
}

.social-icon {
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-color: blue;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  padding-top: 7px;
  border-radius: 50%;
}

.footer-social li {
  float: left;
}

.linked-in {
  background-color: #007bb6;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.google {
  background-color: #f63e28;
}

/*****    Signup FORM    ******/
.signup_form {
  margin: auto;
  padding: 20px;
  margin: 25px auto;
  margin-top: 20px;
  max-width: 800px;
  border-radius: 4px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
}

.but {
  margin: 0 0 15px 0;
}

.country_form, .avatar_img {
  margin: 25px 0;
}

.img_upload {
  margin: 7px 0 7px -13px;
  display: inline-block;
}

div .form-check {
  margin: 15px 0 15px 15px;
}

@media (max-width: 480px) {
  div .form-check {
    font-size: 30px;
    padding: 10px 10px;
    margin-left: 20px;
  }
}

.signup-submit {
  padding: 8px 25px;
}

@media (max-width: 680px) {
  .signup-submit {
    display: block;
    margin: auto;
  }
}

.check_interests {
  background-color: white;
  border: 1px solid #025AA5;
  padding: 10px 10px 10px 20px;
  width: 200px;
  text-align: left;
  margin-top: 10px;
}

/*****    Login FORM    ******/
.alert-login {
  text-align: center;
  margin: 3px auto;
}

.form-signin {
  margin: auto;
  margin-top: 20px;
  max-width: 400px;
  display: block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius: 2px;
}

.main {
  padding: 38px;
}

.social-box {
  margin: 0 auto;
  padding: 15px 38px;
  border-bottom: 1px #ccc solid;
}

.social-facebook {
  text-align: center;
}

.social-box a {
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
}

.social-box a i {
  font-weight: bold;
  font-size: 20px;
}

.heading-desc {
  font-size: 28px;
  font-weight: bold;
  padding: 38px 38px 0px 38px;
  text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}

.mg-btm {
  margin-bottom: 20px;
}

.submm {
  text-align: center;
}

.btn-login {
  width: 100%;
  margin: 0 0 10px 0;
}

/*****    Contact FORM    ******/
.contact-form {
  margin: 30px auto;
  width: 60%;
}

@media (max-width: 1000px) {
  .contact-form {
    width: 100%;
  }
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

@media (max-width: 540px) {
  .usericon {
    top: 18px;
  }
}

.icon-contact {
  position: relative;
  bottom: 6px;
  text-align: center;
}
