/***********//*****    Variables    ******//***********/

$primary: #C7E7BE;
$secundary: #FF6F42;


/***********//*****    Mixins    ******//***********/

input[type="password"] {
  font: 20px sans-serif;
}

@mixin placeholder($color, $size:"") {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &::-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
}


/*****    INITIAL    ******/

.hidden{
  display:none;
}

[placeholder] {
  @include placeholder(#A0A3A4, 12px);
}



/*****     NAVBAR    ******/

.nav-right-next {
  @media (min-width: 777px){
    position:absolute;
    right: 25px;
  }
}

.nav-right {
  @media (min-width: 777px){
    position:absolute;
    right: 120px;
  }
}

.nav-link {
  @media (min-width:760px){
    margin-top: 2px;
    display: inline-block;
    color: #000;
    text-decoration: none;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: white;
      transition: width .3s;
  }
  &:hover::after {
    width: 100%;
  }
}
}



.logout-link {
  width:100%;
    .btn-link {  
      width:100%;
      cursor: pointer;
    }
  &:hover {
    background: $secundary !important;
      .btn-link {  
        color: white;
    }
  }     
}

.li-user-dropdown {
  @media(min-width:760px) {
  position:absolute;
  right: 25px;
  }
}

.dropdown-user {
  text-align: left;
  width: 210px;
  position:absolute;
  left: -144px;
  box-shadow: 0 0 4px #666;

  @media(max-width:750px){
    margin-left: 90px;
    margin-bottom:-50px;
    background: #292B2C;
    box-shadow:none;
    a, button {
      color:white !important;
    }
    hr {
      display:none;
    }
  }

  @media(max-width:450px){
    width: 190px;
    margin-left: 90px;
    margin-bottom:-50px;
    background: #292B2C;
    box-shadow:none;
    a, button {
      color:white !important;
    }
    hr {
      display:none;
    }
  }

  li {
    padding: 4px 20px 4px 10px;
    &:hover {
      background:#5CB85C;
      a {color:white;}
    }
    a, button {
      display:block;
      color: black;
      i.nav-icon{
        padding-left: 7px;
        font-size: 23px;
      }
    }
    a:hover, button:hover {
      text-decoration: none;
    }
  }
}

.logo-hiddo {
  @media(min-width:600px){
    padding-left: 30px;
  }
}

.navbar-comntent{
  @media(min-width:600px){
    margin-right: 30px;
  }
}
.nav-item{
  margin-right: 5px;
}

.user-menu{
  cursor: pointer;
  color:white;
  background:#292B2C;
  border:none;
  @media(max-width:750px){
    float:left;
    position:relative;
    top:40px;
  }
}

.about-item {
  @media(max-width:750px){
    margin-top: 50px;
  }
}

.btn-link{
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
}
.user-nav-img {
  cursor: pointer;
  object-fit: cover;
  border-radius:50%;
  width: 40px;
  height: 40px;
   @media(max-width: 750px){
        width: 50px;
        height: 50px;
    }
}
.navbar-brand{
    @media(max-width: 750px){
        text-align: center;
        margin: auto;
    }
}

.nav-item-dest {
    @media(max-width: 750px){
      border-top: 1px solid $secundary;
    }
}


/*****    HOME     ******/



/*****    ALERTS      ******/

/*****    Signup FORM    ******/

.signup_form {
  margin:auto;
  padding: 20px;
  margin:25px auto;
  margin-top: 20px;
  max-width: 800px; 
  border-radius:4px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
}

.but{
    margin: 0 0 15px 0;
}

.country_form, .avatar_img{
    margin: 25px 0;
}
.img_upload{
    margin:7px 0 7px -13px ;
    display: inline-block;
}

div .form-check  {
    margin: 15px 0 15px 15px;

    @media (max-width: 480px){
        font-size: 30px;
        padding: 10px 10px;
        margin-left: 20px;
    }
}

.signup-submit {
    padding: 8px 25px;
    @media (max-width: 680px){
        display:block;
        margin: auto ;
    }
}

.check_interests{
  background-color: white;
  border: 1px solid #025AA5;
  padding: 10px 10px 10px 20px;
  width: 200px;
  text-align: left;
  margin-top: 10px;
}



/*****    Login FORM    ******/

.alert-login {
  text-align: center;
  margin: 3px auto;
}

.form-signin {
  margin:auto;
  margin-top: 20px;
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 15px 38px;
  border-bottom:1px #ccc solid;
}
.social-facebook{
    text-align: center;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:28px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
    text-align: center;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}

.mg-btm{
	margin-bottom:20px;
}

.submm{
  text-align: center;
}

.btn-login{
    width:100%;
    margin: 0 0 10px 0;
}


/*****    Contact FORM    ******/

.contact-form{
    margin: 30px auto;
    width: 60%;
    @media (max-width: 1000px){
     width: 100%;
   }
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

.usericon {
   @media (max-width: 540px){
     top: 18px;
   }
}

.icon-contact {
     position: relative;
     bottom: 6px;
     text-align: center;
}

/*****     NEW-SPOT    ******/

.fa-refresh {
  padding: 0 5px;
  margin:  0 3px 0 0;
}

.alert-loc-saved, .alert-no-loc, .make-spot{
  display:inline-block;
  margin: 5px 0 5px 0;
}


      #map-search {
        height: 400px;
        width: 800px;
        margin: 10px 0 10px 0;
        @media(max-width: 700px) {
          width:100%
        }
      }

      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }




/*********  popup  *********************/


/*********  edit-spot  *********************/



/*****    FOOTER     ******/
.footer--info {
  margin-top: 30px;
   p:first {
    color:red;
  }
}


#footer{
  background: #292B2C;
  color:white;

  @media(max-width:600px){
    .container {
      margin-left:20px;
    }
  }

  a.fotlink {
    color: grey;
    &:hover{
      color: white;
      text-decoration: none;
    }
  }

  .fotfirst{
    margin-top: 30px;
  }
}

.copyright {
  background: black;
  color:white;
  text-align: center;
  border-top: solid #5CB85C 2px;
  padding: 10px 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
 .footer-social li{
     float:left;
 }
 .linked-in{
     background-color:#007bb6;
 }
 .facebook{
     background-color:#3b5998;
 }
 .twitter{
     background-color:#1da1f2;
 }
 .google{
     background-color:#f63e28;
 }


 //////////////// Home /////////////////

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}