
<div class="row explore-main">

<div class="col-12 col-md-6">
  <div class="explore-message">
  </div>
</div>

<div class="col-12 col-md-6">
    <button class="btn btn-lg calltoaction btn-explore" type="button">EXPLORE</button>
</div>

</div>


<div class="row ">
  <div class="container-spots">
    
  </div>
</div>



