
<div class="row ">
<div class="col-12  explore-main">
<div class="explore-message">
</div>
    <button class="btn btn-lg calltoaction btn-explore" type="button">EXPLORE</button>
</div>
</div>


<div class="row ">
  <div class="container-spots">
    
  </div>
</div>



