

<h1><%= spot.name%></h1>

<p>ID: <%= spot._id%></p>
<p>Create by: <%= spot.creator.username%></p>

<% if (campaignIsCurrentUsers) {%>
  <a href="/edit-spot/<%= spot._id %>" class="btn btn-success">Update spot</a>
<%}%>