<h1><%= user.username%></h1>

 <% user.userSpots.forEach( (spot) => { %>
    <div>
      <h3><%= spot.name%></h3>
      <h4><%= spot.country%></h4>
      <p><%= spot.spotInfo.introduction%></p>
    </div>
    <%}); %>
    